
                
                <div class="container bootstrap snippet">
                    <div class="panel-body inf-content">
                        <div class="row">
                           
                            <div class="col-md-6">
                                <strong>Information</strong><br>
                                <div class="table-responsive">
                                <table class="table table-condensed table-responsive table-user-information">
                                    <tbody>
                                        <tr>        
                                            <td>
                                                <strong>
                                                    <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                                    Patient ID                                          
                                                </strong>
                                            </td>
                                            <td class="text-primary">
                                                123456789     
                                            </td>
                                        </tr>
                                        <tr>    
                                            <td>
                                                <strong>
                                                    <span class="glyphicon glyphicon-user  text-primary"></span>    
                                                    Patient Name                                             
                                                </strong>
                                            </td>
                                            <td class="text-primary">
                                                Bootdey     
                                            </td>
                                        </tr>
                                        <tr>        
                                            <td>
                                                <strong>
                                                    <span class="glyphicon glyphicon-cloud text-primary"></span>  
                                                    Test Name                                              
                                                </strong>
                                            </td>
                                            <td class="text-primary">
                                                Bootstrap  
                                            </td>
                                        </tr>
                    
                                        <tr>        
                                            <td>
                                                <strong>
                                                    <span class="glyphicon glyphicon-bookmark text-primary"></span> 
                                                    Contact Number                                               
                                                </strong>
                                            </td>
                                            <td class="text-primary">
                                                bootnipets 
                                            </td>
                                        </tr>
                    
                    
                                        <tr>        
                                            <td>
                                                <strong>
                                                    <span class="glyphicon glyphicon-eye-open text-primary"></span> 
                                                    Report Id                                           
                                                </strong>
                                            </td>
                                            <td class="text-primary">
                                                Admin
                                            </td>
                                        </tr>
                                        <tr>        
                                            <td>
                                                <strong>
                                                    <span class="glyphicon glyphicon-envelope text-primary"></span> 
                                                    Appoinment Id                                           
                                                </strong>
                                            </td>
                                            <td class="text-primary">
                                                noreply@email.com  
                                            </td>
                                        </tr>
                                        <tr>        
                                            <td>
                                                <strong>
                                                    <span class="glyphicon glyphicon-calendar text-primary"></span>
                                                    Payment                                           
                                                </strong>
                                            </td>
                                            <td class="text-primary">
                                                20 jul 20014
                                            </td>
                                        </tr>
                                        <tr>        
                                            <td>
                                                <strong>
                                                   
                                                    <div class="row" style="text-align:center;">
                                                            <div class="col-md-4">
                                                                <input type="radio" name="role" value="doctor" formControlName="role"> Paid
                                                            </div>
                                                           
                                                            
                                                        </div>                                      
                                                </strong>
                                            </td>
                                            <div class="row" style="text-align:center;">
                                                    <div class="col-md-4">
                                                        <input type="radio" name="role" value="doctor" formControlName="role"> Not Paid
                                                    </div>
                                                    </div>
                                        </tr>                                    
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>                                        